{% extends 'base.html' %}
{% load bootstrap3 %}
{%load static%} 
{% load staticfiles %}
{% block content %}
<div class="container-fluid">

  <div class="row">

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-8">

</div>


             <div class="modal-body">
                    {{form.media}}
               <form class="{% url 'new-post'%}" action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form form%}
                 <div class="form-group">
                   <input type="submit" class="btn mx-auto" value="Submit post">
                 </div>
               </form>
             </div>
     
{% endblock %}